development:
  adapter: mysql2
  database: dynamic_dns
  username: root
  password: s3cre7
  host: localhost

development:
  adapter: mysql2
  database: dynamic_dns_test
  username: root
  password: testing
  host: localhost

production:
  adapter: mysql2
  database: dynamic_dns
  username: root
  password: sup3rs3cre7
  host: localhost