development:
  adapter: mysql2
  database: dynamic_dns
  encoding: utf8mb4
  username: root
  password: s3cre7
  host: localhost

test:
  adapter: mysql2
  database: dynamic_dns_test
  encoding: utf8mb4
  username: root
  password: testing
  host: localhost

production:
  adapter: mysql2
  database: dynamic_dns
  encoding: utf8mb4
  username: root
  password: sup3rs3cre7
  host: localhost